<main role="main" class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <div class="tittle">
                <img src="assets/images/ECD/title-envio.png" class="mt-4">
                <span class="titulo  ml-5 pl-5 mt-n2">Envío de Dinero</span>
            </div>
        </div>
    </div>
    <div class="row text-center ">
        <div class="col-12 pt-5">
            <hr>
        </div>
        <div class="col-4 br-solid pt-5 mt-4">
            <a href="#">
                <img src="assets/images/ECD/western.svg"></a>
        </div>
        <div class="col-8 mt-5">
            <H1 class="display-4 font-s green">Ingrese Monto</H1>
            <input class="shadow input-WU">
        </div>
        <div class=" col-12 pt-5 ">
            <hr>
        </div>
    </div>
    <div class="row botonera ">
        <div class="col-6 text-center ">
            <button class="btn-back " routerLink="" routerLinkActive="active">VOLVER</button>
        </div>
        <div class="col-6 text-center ">
            <button class="btn-next " routerLink="/pagoEnvio" routerLinkActive="active">ENVIAR</button>
        </div>
    </div>
</main>
<footer>
</footer>